# Ambiente virtual
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Variáveis de ambiente
.env

# Dados temporários do projeto
data/input/*
data/temp/*
data/output/*
data/profile_images/*

# Mantém as pastas no projeto
!data/input/.gitkeep
!data/temp/.gitkeep
!data/output/.gitkeep
!data/profile_images/.gitkeep

# Logs
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Arquivos grandes de mídia
*.mp4
*.mov
*.avi
*.mkv
*.wav
*.mp3
*.webm