# Ambiente virtual
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Variáveis de ambiente
.env

# Dados do projeto
data/input/*
data/temp/*
data/output/*

# Logs
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Arquivos grandes (opcional)
*.mp4
*.mov
*.avi
*.mkv
*.wav